body{
  font-family : "Montserrat",sans-serif ;
}
#title{
  background-color : #ff4c68;
  color : white;


}
.container-fluid{
  padding: 3% 15% 7%;
}
.title-head{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}
/*Navigation-Bar*/
.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding : 0 0 4.5rem;
}
.nav-item{
  padding : 0 18px;
}
.nav-link{
  font-size:1.2rem;
}

/*Download-button*/
.download-btn{
  margin : 5% 3%;
}
/*title image*/
.download-img{
  width: 60%;
  transform : rotate(25deg);
  position: absolute;
  right:40%;
}
/*features section*/
#features{
  padding : 7% 15%;
  background-color : #fff;
  position: relative;
  z-index: 1;



}
#features h3{
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: bold;
}
#features p{
  color: #8f8f8f;
}
.icons{
  color : #ef8172;
  font-size: 4.5rem;
  margin: 15px 0;
}
.icons:hover{
  color : #ff4c68;
}
.box{
  text-align: center;
  padding: 4.5%;

}

/* testimonial section */
h2{
  color: #fff;
  font-family : "Montserrat",serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
#testimonials{

  text-align : center;
  background-color : #ef8172;

}
.testimonial-img{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
.carousel-inner{
  padding : 7% 15%;
}
/* press section */
#press{
  background-color: #ef8172;
  padding-bottom : 20px;
  text-align : center;
}
.press-logo{
  width: 15%;
  margin : 20px 20px 50px;
}
/* pricing */
#pricing{
  padding : 7% 15%;
  text-align: center;
}
.price-title{
  color : black;
}
.price-tag{
  padding : 3% 2%;
}

/*CSS responsive media queries*/

@media (max-width : 1038px){
  .download-img{
    position : static;
    transform : rotate(0);
  }
  #title{
    text-align: center;
  }
}
/* Call to action and footer design */

#cta{
  background-color : #ff4c68;
  text-align: center;
  padding : 7% 15%;
}
#cta h3{
  font-family: "Montserrat" , sans-serif;
  font-weight: 900;
  color : #fff;
  line-height: 1.5;
  font-size : 3.5rem;
}
.cta-btn{
  margin: 5% 3%;
}
#footer{
  background-color : #fff;
  text-align: center;
  padding: 7% 15%;
}
.footer-icons{
  margin : 5% 3%;
}
.foot-icon{
  margin : 0 1%; 
}
